In [24]:
import pandas as pd

In [25]:
df=pd.DataFrame(index=range(10),columns=['Radek','Ident','Popis','Pocet','Zbytek'])

In [26]:
df

  Radek Ident Popis Pocet Zbytek
0   NaN   NaN   NaN   NaN    NaN
1   NaN   NaN   NaN   NaN    NaN
2   NaN   NaN   NaN   NaN    NaN
3   NaN   NaN   NaN   NaN    NaN
4   NaN   NaN   NaN   NaN    NaN
5   NaN   NaN   NaN   NaN    NaN
6   NaN   NaN   NaN   NaN    NaN
7   NaN   NaN   NaN   NaN    NaN
8   NaN   NaN   NaN   NaN    NaN
9   NaN   NaN   NaN   NaN    NaN

In [31]:
df['Ident']=[12,98]

ValueError: Length of values (2) does not match length of index (10)